@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');
body {
    background-color: white;
    margin: 0em;
    font-family: Roboto, sans-serif;
    font-weight: 200;
}

.navbar {
    border-radius: 0em;
    margin: 0em;
    z-index: 10;
    -moz-box-shadow: 0em 0em .5em 0em #ddd;
    -webkit-box-shadow: 0em 0em .5em 0em #ddd;
    box-shadow: 0em 0em .5em 0em #ddd;
    background-color: white;
}

.mainContent {
    background-color: white;
    /*padding: .5em;*/
    /*margin: 0em 2em 0em 2em;*/
    /*-moz-box-shadow: 0em 0em .5em 0em #ddd;
    -webkit-box-shadow: 0em 0em .5em 0em #ddd;
    box-shadow: 0em 0em .5em 0em #ddd;*/

    -moz-box-shadow: 0em 0em .5em 0em #ccc;
    -webkit-box-shadow: 0em 0em .5em 0em #ccc;
    box-shadow: 0em 0em .5em 0em #ccc;
    padding-bottom: 1em;
}

p > img, p > a > img {
    margin-left: 20%;
    width: 60%;
}

center {
    margin-bottom: 2em;
}

video {
    width: 100%;
}

figure {
    width: 100%;
    text-align: center;
}
img {
    width: 30em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    position: relative;
}

#footer {
    background-color: white;
    text-align: center;
    width: 100%;
    min-height: 4em;
    padding-top: 1em;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    left: 0;
    -moz-box-shadow: 0em 0em .5em 0em #ccc;
    -webkit-box-shadow: 0em 0em .5em 0em #ccc;
    box-shadow: 0em 0em .5em 0em #ccc;
}
.navbar-brand {
    font-weight: 100;
    font-size: 1.8em;
    padding-left: .5em;
    padding-right: .5em;
    /* border-right: #eee;
    border-right-width: 1px;
    border-right-style: solid; */
    margin: 0em;
    position: absolute;
    left: 0px;
    top: 0px;
}
#footerPadding {
    height: 4em;
}
.fa  {
    margin-left: .8em;
    margin-right: .8em;
    font-size: 1.5em !important;
    color: black;
}

h1 {
    text-align: center;
    font-weight: 200;
    padding-bottom: .2em;
    border-bottom: #dadada;
    border-bottom-style: solid;
    border-bottom-width: .01em;
}

h2 {
    font-weight: 200;
    font-size: 2em !important;
    margin-top: 1.5em;
    
    padding-bottom: .2em;
    border-bottom: #eee;
    border-bottom-style: solid;
    border-bottom-width: .01em;
}

h3 {
    font-size: 1.2em !important;
    font-weight: 400;
    margin-top: 1.4em;

    padding-bottom: .4em;
    border-bottom: #efefef;
    border-bottom-style: solid;
    border-bottom-width: .005em;
}

h4 {
    font-size: 1.1em !important;
    font-weight: 500;
}

p {
    font-size: 1em !important;
}

h1 { margin-left: .0em; }
h2 { margin-left: .1em; }
h3 { margin-left: .3em; }
h4 { margin-left: .4em; }
p  { margin-left: .6em; }





@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse { 
        text-align: center;
    }
}



.ui-accordion-header {
    background-color: white !important;
    background: white !important;
}